* {
  box-sizing: border-box;
}

body {
  background-color: aqua;
}

.card-container {
height: 100vh;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
}

.form-text{
  margin-bottom: 5px;
  color:#2E302E;
}
.form-input {
  display: flex;
  justify-content: center;
  padding: 1rem;
  justify-content: center !important;
  background-color: white;
  border-radius: 2% !important;
  width: 45%;
}
.card-input{
  margin-top: 7rem;
}

.backImage {
  background-image: url('./assets/card-background.jpg');
  background-position: center;
  background-size: cover;
  position: fixed;
  height: 100% !important;
  border-radius: 2% !important;
}

.logo {
  height: auto;
  width: 75px;
  float: right;
}
.display-input {
  display: flex;
  flex-direction: column;
}
.chip {
  width: 50px;
  height: auto;
}
.strip {
  padding: 0 !important;
  margin-top: 2rem;
 border: 20px solid rgba(0, 0, 0, 0.822);
}
.cvv {
  text-align: right;
  color: white;
  margin-right: 10px;
}
.cvv-input {
  background-color: white !important;
  display: inline-block;
  text-align: right;
}
.back-container {
  padding: 0 !important;
  width: 100%;
}
@media (max-width: 600px) {
  /* .modal.show {
width: 100% !important;
  }
  .modal-dialog {
    display: block !important;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    width: 80% !important;
  } */
  .App{
    height: 115vh !important;
  }
  .backImage{
    height: auto !important;
  }
  .chip{
    width: 45px !important;
  }
  h3 {
    font-size: large !important;
  }
  .form-input {
    width: auto;
  }
  .form-text{
    font-size: .8rem;
  }
  .react-card-flip{
    width: 85% !important;
  }
}
@media (min-width: 600px) and (max-width: 768px) {
  .card-container{
    margin: auto;
    height: 90vh;
  }
  .form-input {
    width: auto;
  }
  .form-text{
    font-size: .8rem;
  }
  .react-card-flip{
    width: 55% !important;
    height: auto;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {


  .form-input {
    width: auto;
  }
  .form-text{
    font-size: 1.3rem;
  }
  .react-card-flip{
    width: 45% !important;
    height: auto;
  }
}

