* {
  box-sizing: border-box;
}

/* body {
  background-color: aqua;
} */

.card-container {
height: 100vh;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
}

.form-text{
  margin-bottom: 5px;
  color:#2E302E;
}
.form-input {
  display: flex;
  justify-content: center;
  padding: 1rem;
  justify-content: center !important;
  background-color: white;
  border-radius: 2% !important;
  width: 45%;
}
.card-input{
  margin-top: 7rem;
}
.backImage {
  background-image: url('./assets/card-background.jpg') !important;
  background-position: center;
  background-size: cover ;
  border-radius: 2% !important;
}
.front-row{
  height: 2.5rem !important;
}
.master {
  height: auto !important;
  width: 75px !important;
  float: right;
}
.logo {
  height: auto !important;
  width: 75px !important;
  float: right;
}
.display-input {
  display: flex;
  flex-direction: column;
}
.chip {
  width: 45px;
  height: auto;
}
.strip {
  padding: 0 !important;
  margin-top: 2rem;
 border: 20px solid rgba(0, 0, 0, 0.822);
}
.cvv {
  text-align: right;
  color: white;
  margin-right: 10px;
}
.cvv-input {
  background-color: white !important;
  display: inline-block;
  text-align: right;
}
.back-container {
  padding: 0 !important;
}
.back-inner-container {
  padding: 0 !important;
  width: 100%;
}

.card-front {
  padding-top: 0;

}
.react-card-flipper {
  position: relative !important;
  height: auto!important;
}

@media (max-width: 600px) {

 
  .display-input {
    height:auto !important;
  }
.card-front{
  padding-top: 0px  !important;
  padding-bottom: 10px !important;
  height: 100% !important;
}
  .App{
    height: 115vh !important;
  }
  .chip{
    width: 35px !important;
  }
  h3 {
    font-size: large !important;
  }
  .form-input {
    width: auto;
  }
  h6 {
    font-size: .8rem !important;
  }
  .form-text{
    font-size: .8rem;
  }
  .master {
    margin-top: 1.2rem;
    height: auto!important;
    width: 55px !important;
  }
  .react-card-flip{
    width: 80% !important;
    /* top: 25px !important; */
    height: auto;
/* position: absolute !important; */
  }
  #FrontSide {
    width: 100%;
    margin: auto;
  }
 
  .logo {
    width: 55px !important;
  }
  .back-inner-container {
    height: 15%;
  }
  .front-row {
    line-height: 1rem !important;
  }
  .strip {
    margin-top: 1.5rem;
    border: 10px solid rgba(0, 0, 0, 0.822);
  }
  .cvv-input {
    height: 20px !important;
  }
  .back-group {
    margin: 0 !important;
  }
}
@media (min-width: 600px) and (max-width: 768px) {
  .card-container{
    margin: auto;
    height: 90vh;
  }
  .form-input {
    width: auto;
  }
  .form-text{
    font-size: .8rem;
  }
  .react-card-flip{
    width: 55% !important;
    height: auto;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {


  .form-input {
    width: auto;
  }
  .form-text{
    font-size: 1.3rem;
  }
  .react-card-flip{
    width: 45% !important;
    height: auto;
  }
}

